@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .control {
    width: 90%;
    display: block;
    padding: 1.1rem 1rem;
    border-radius: 3px;
    border: 1px solid #1a1a1a;
    transition: all 1s;
    color: rgba(0, 0, 0, 0.721);
    background-color: #fff;
    outline: none;
  }

  .border-bottom {
    border-bottom: 1px solid #1a1a1a;
  }

  .control:focus {
    outline: none;
  }

  .group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
